#box{
	position: absolute;
	width: 577px;
	height: 970px;
	box-sizing: border-box;
	border: solid 2px #EEEEEE;
}
#t1{
	position: relative;
	width: 577px;
	height: 50px;
	line-height: 50px;
	font-family: "黑体";
	text-align:center;
}
#t11{
	position: relative;
	width: 112px;
	height: 100%;
	top: 50%;
	font-weight: bold;
	float: left;
}
#t12{
	position: relative;
	width: 112px;
	height: 100%;
	background-color: #F7F7F7;
	border-bottom: solid 2px #EEEEEE;
	border-left: solid 2px #EEEEEE;
	float: left;
}
#t13{
	position: relative;
	width: 112px;
	height: 100%;
	background-color: #F7F7F7;
	border-bottom: solid 2px #EEEEEE;
	float: left;
}
#t14{
	position: relative;
	width: 112px;
	height: 100%;
	background-color: #F7F7F7;
	border-bottom: solid 2px #EEEEEE;
	float: left;
}
#t15{
	position: relative;
	width: 112px;
	height: 100%;
	background-color: #F7F7F7;
	border-bottom: solid 2px #EEEEEE;
	float: left;
}

#t2{
	position: relative;
	width: 577px;
	height: 145px;
	box-sizing: border-box;
	border-bottom: solid 2px #EEEEEE;
}
#t21{
	position: relative;
	width: 514px;
	height: 40px;
	margin-top: 24px;
	margin-left: 19px;
	box-sizing: border-box;
	border: solid 1px black;
	display: block;
}
#t22{
	position: relative;
	width: 514px;
	height: 40px;
	margin-top: 12px;
	margin-left: 19px;
	box-sizing: border-box;
	border: solid 1px black;
	display: block;
}

#t3{
	position: relative;
	width: 577px;
	height: 240px;
	box-sizing: border-box;
	border-bottom: solid 2px #EEEEEE;
	text-align:center;
}
#t31{
	position: relative;
	width: 120px;
	height: 125px;
	top: 16px;
	left: 25px;
	background-color: #FF4400;
	float: left;
}
#t32{
	position: relative;
	width: 370px;
	height: 36px;
	margin-top: 40px;
	margin-right: 44px;
	box-sizing: border-box;
	border: solid 1px black;
	float: right;
}
#t33{
	position: relative;
	width: 370px;
	height: 36px;
	margin-top: 12px;
	margin-right: 44px;
	box-sizing: border-box;
	border: solid 1px black;
	float: right;
}
#t34{
	position: absolute;
	width: 185px;
	height: 50px;
	margin-left: 35px;
	margin-top: 160px;
	background-color: #FF4400;
	border: 0;
	color: white;
	font-family: "黑体";
	font-size: 24px;
	font-weight: bold;
}
#t35{
	position: absolute;
	width: 150px;
	height: 50px;
	margin-left: 235px;
	margin-top: 160px;
	background-color: #FF4400;
	border: 0;
	color: white;
	font-family: "黑体";
	font-size: 24px;
	font-weight: bold;
}
#t36{
	position: absolute;
	width: 150px;
	height: 50px;
	margin-left: 398px;
	margin-top: 160px;
	background-color: #FF4400;
	border: 0;
	color: white;
	font-family: "黑体";
	font-size: 24px;
	font-weight: bold;
}

#t4{
	position: relative;
	width: 577px;
	height: 90px;
	border-bottom: solid 2px #EEEEEE;
}
#t41{
	position: relative;
	width: 514px;
	height: 38px;
	margin-top: 20px;
	margin-left: 20px;
	box-sizing: border-box;
	border: solid 1px black;
	float: left;
}

#t5{
	position: relative;
	box-sizing: border-box;
	width: 577px;
	height: 450px;
	text-align:center;
	font-size: 25px;
	color: gray;
	font-family: "黑体";
	text-align: center;
}
#t51{
	position: relative;
	width: 40%;
	height: 65%;
	box-sizing: border-box;
	border-right: solid 2px #EEEEEE;
	border-bottom: solid 2px #EEEEEE;
	float: left;
}
#t51_1{
	position: relative;
	width: 85px;
	height: 125px;
	margin-left: 70px;
	margin-top: 55px;
	background-color: #FF4400;
	float: left;
}
#t51_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 25px;
	float: left;
}
#t52{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-right: solid 2px #EEEEEE;
	border-bottom: solid 2px #EEEEEE;
	float: left;
}
#t52_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t52_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t53{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-right: solid 2px #EEEEEE;
	border-bottom: solid 2px #EEEEEE;
	float: left;
}
#t53_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t53_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t54{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-bottom: solid 2px #EEEEEE;
	float: left;
	display: block;
}
#t54_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t54_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t55{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-right: solid 2px #EEEEEE;
	border-bottom: solid 2px #EEEEEE;
	float: left;
	display: inline-block;
}
#t55_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t55_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t56{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-right: solid 2px #EEEEEE;
	border-bottom: solid 2px #EEEEEE;
	float: left;
}
#t56_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t56_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t57{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-bottom: solid 2px #EEEEEE;
	float: left;
}
#t57_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t57_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t58{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-right: solid 2px #EEEEEE;
	float: left;
}
#t58_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t58_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t59{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-right: solid 2px #EEEEEE;
	float: left;
}
#t59_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t59_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t510{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-right: solid 2px #EEEEEE;
	float: left;
}
#t510_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t510_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t511{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	border-right: solid 2px #EEEEEE;
	float: left;
}
#t511_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t511_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}
#t512{
	position: relative;
	width: 20%;
	height: 33%;
	box-sizing: border-box;
	float: left;
}
#t512_1{
	position: relative;
	width: 66px;
	height: 66px;
	margin-left: 25px;
	margin-top: 25px;
	background-color: #FF4400;
	float: left;
}
#t512_2{
	position: relative;
	width: 100%;
	height: 30px;
	margin-top: 8px;
	float: left;
}