.ui-stepone{
	width: 800px;
	height: 600px;
	background-color: #cdd3f5;
	box-sizing: border-box;
	border: solid 1px black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ui-stepone-top{
	width: 760px;
	height: 120px;
	margin-bottom: 20px;
	background-color: #90bd90;
	box-sizing: border-box;
	border: solid 1px black;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.ui-stepone-top-item{
	width: 80px;
	height: 80px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #cdd3f5;
	box-sizing: border-box;
	border: solid 1px black;
}
.ui-stepone-top-item-last{
	position: relative;
	right:-160px;
}
.ui-stepone-bottom{
	width: 760px;
	height: 420px;
	background-color: #90bd90;
	box-sizing: border-box;
	border: solid 1px black;
	display: flex;
}
.ui-stepone-bottom-left{
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ui-stepone-bottom-left-item-large{
	width: 200px;
	height: 300px;
	margin-bottom: 2px;
	background-color: #cdd3f5;
	box-sizing: border-box;
	border: solid 1px black;
}
.ui-stepone-bottom-left-item{
	width: 50px;
	height: 50px;
	background-color: #cdd3f5;
	box-sizing: border-box;
	border: solid 1px black;
}
.ui-stepone-bottom-right{
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
}
.ui-stepone-bottom-right-item{
	width: 480px;
	height: 40px;
	background-color: #cdd3f5;
	box-sizing: border-box;
	border: solid 1px black;
}




.ui-steptwo{
	width: 390px;
	height: 370px;
	margin-top: 20px;
	border: solid 1px black;
	display: flex;
	flex-direction: column;
}
.ui-steptwo-picture{
	width: 390px;
	height: 260px;
	background-color: #FFFFEB;
	border-bottom: solid 1px black;
}
.ui-steptwo-word{
	width: 390px;
	height: 110px;
	background-color: #FFE6F4;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ui-steotwo-word-title{
	width: 370px;
	height: 20px;
	margin-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	border: solid 1px black;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 12px;
}
.ui-steotwo-word-detail{
	width: 370px;
	height: 20px;
	margin-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	border: solid 1px black;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 12px;
	color: #F83660;
}
.ui-steotwo-word-price{
	width: 370px;
	height: 30px;
	margin-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	border: solid 1px black;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
}
.ui-steotwo-word-price-left{
	width: 80%;
	display: flex;
	justify-content: flex-start;
}
.ui-steotwo-word-price-left-symbol{
	padding-right: 5px;
	font-weight: bold;
	font-size: 16px;
	color: #F83660;
	display: flex;
	align-items: center;
}
.ui-steotwo-word-price-left-RMB{
	padding-right: 5px;
	font-weight: bold;
	font-size: 25px;
	color: #F83660;
}
.ui-steotwo-word-price-left-center{
	padding-top: 10px;
	font-size: 12px;
	color: #7A7A7A;
	font-weight: bold;
	text-decoration: line-through;
}
.ui-steotwo-word-price-right{

	padding-top: 5px;
	font-size: 12px;
	color: #7A7A7A;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
}




.ui-stepthree{
	width: 1225px;
	height: 795px;
	margin-top: 20px;
	box-sizing: border-box;
	background-color: #F2F2F2;
	border: solid 1px #C0C0C0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.ui-stepthree-first{
	width: 390px;
	height: 370px;
	margin-top: 15px;
	margin-left: 15px;
	border: solid 1px #E9E9E9;
	display: flex;
	flex-direction: column;
}
.ui-stepthree-second{
	width: 390px;
	height: 370px;
	margin-top: 15px;
	margin-left: 10px;
	border: solid 1px #E9E9E9;
	display: flex;
	flex-direction: column;
}
.ui-stepthree-third{
	width: 390px;
	height: 370px;
	margin-top: 15px;
	margin-left: 10px;
	border: solid 1px #E9E9E9;
	display: flex;
	flex-direction: column;
}
.ui-stepthree-fourth{
	width: 390px;
	height: 370px;
	margin-top: 5px;
	margin-left: 15px;
	border: solid 1px #E9E9E9;
	display: flex;
	flex-direction: column;
}
.ui-stepthree-fifth{
	width: 390px;
	height: 370px;
	margin-top: 5px;
	margin-left: 10px;
	border: solid 1px #E9E9E9;
	display: flex;
	flex-direction: column;
}
.ui-stepthree-sixth{
	width: 390px;
	height: 370px;
	margin-top: 5px;
	margin-left: 10px;
	border: solid 1px #E9E9E9;
	display: flex;
	flex-direction: column;
}

.ui-stepthree-picture{
	width: 390px;
	height: 260px;
	background-color: #FFFFEB;
	border-bottom: solid 1px #E9E9E9;
}
.ui-stepthree-word{
	width: 390px;
	height: 110px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.ui-stepthree-word-title{
	width: 370px;
	height: 20px;
	margin-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 12px;
}
.ui-stepthree-word-detail{
	width: 370px;
	height: 20px;
	margin-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 12px;
}
.ui-stepthree-word-detail-red{
	color: #F83660;
}
.ui-stepthree-word-detail-gray{
	color: #7A7A7A;
}
.ui-stepthree-word-price{
	width: 370px;
	height: 30px;
	margin-top: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
}
.ui-stepthree-word-price-left{
	width: 80%;
	display: flex;
	justify-content: flex-start;
}
.ui-stepthree-word-price-left-symbol{
	padding-right: 5px;
	font-weight: bold;
	font-size: 16px;
	color: #F83660;
	display: flex;
	align-items: center;
}
.ui-stepthree-word-price-left-RMB{
	padding-right: 5px;
	font-weight: bold;
	font-size: 25px;
	color: #F83660;
}
.ui-stepthree-word-price-left-center{
	padding-top: 10px;
	font-size: 12px;
	color: #7A7A7A;
	font-weight: bold;
	text-decoration: line-through;
}
.ui-stepthree-word-price-right{
	padding-top: 5px;
	font-size: 12px;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.ui-stepthree-word-price-right-number{
	color: #F83660;
}
.ui-stepthree-word-price-right-sell{
	color: #7A7A7A;
}