#myMap{
	position: absolute;
	left: 10px;
	top: 100px;
	right: 210px;
	bottom: 10px;
	border: solid 1px black;
}
#list{
	position: absolute;
	top: 100px;
	width: 200px;
	right: 10px;
	bottom: 10px;
	border: solid 1px black;
}
